#h2-1 {
	text-transform: uppercase;
	font-size: 100%;
}

#p3{
	color: yellow; 
}

*{
	font-family: "Arial", sans-serif;
}

h1{
	font-size: 200%
}
.ul1 {

	background-color: #88ba79;
}

ol li[class = ol2]{
	border: 1px solid #5189ad;
}

section + div ul{
	list-style-type:none; 
}


div > ul {
	letter-spacing: 3px; 
	font-size: 75%;
	font-family: "Monaco", monospace;
}

div ~ p  {
	font-family: "Arial", sans-serif;
	font-size: 85%;
	text-align: center;
}

section img {
	border-radius: 50%; 
	width: 100px; 
	height: 100px;
}